FEISHU_BASE_URL=https://open.larksuite.com
FEISHU_APP_ID=your_app_id
FEISHU_APP_SECRET=your_app_secret

FEISHU_TENANT_DOMAIN=test-dj53i7nevqb8.sg.larksuite.com
FEISHU_RESULT_CHAT_ID=oc_7d2271c3d02bd4fe847dc8b4f8542108

FEISHU_SHOOTER_BASE_URL=https://test-dj53i7nevqb8.sg.larksuite.com/base/Xr9Kb1GFHauf32sGV9xlCFJMg1e?from=from_copylink
FEISHU_AI_CORRECTION_BASE_URL=https://test-dj53i7nevqb8.sg.larksuite.com/wiki/ItYIwBpeZixDLBk5dwRljoNvgRh?from=from_copylink
FEISHU_SHOOTER_MISMATCH_BASE_URL=https://test-dj53i7nevqb8.sg.larksuite.com/base/VtRwb4EuCadrmZsrxvtlfVXggOg?from=from_copylink
FEISHU_CRAWL_FAILURE_BASE_URL=https://test-dj53i7nevqb8.sg.larksuite.com/base/AlL6bv2uzagDhdstJE6l6PjCgsb?from=from_copylink
FEISHU_UNMATCHED_BASE_URL=https://test-dj53i7nevqb8.sg.larksuite.com/wiki/D0QYwkOqiiuuHPklDz9lFvwHgfc?from=from_copylink

FEISHU_RESULT_VIEW_NAMES=所有项目,按投手,按项目,按国家
FEISHU_INCOMING_RETENTION_DAYS=7
