FEISHU_BASE_URL=https://open.larksuite.com
FEISHU_APP_ID=
FEISHU_APP_SECRET=

FEISHU_TENANT_DOMAIN=
FEISHU_SHOOTER_BASE_URL=
FEISHU_AI_CORRECTION_BASE_URL=
FEISHU_AI_CONFIRMED_BASE_URL=
FEISHU_SHOOTER_MISMATCH_BASE_URL=
FEISHU_CRAWL_FAILURE_BASE_URL=
FEISHU_UNMATCHED_BASE_URL=
FEISHU_RESULT_CHAT_ID=
FEISHU_PERMISSION_CHAT_ID=
